*{margin:0;padding:0;border:0 none;outline:none;list-style:none;}
body{line-height:20px;text-align:left;font-family:"Arimo",Arial,Helvetica,sans-serif;color:#555;font-size:12px;background:#fff;}
ol li{display:list-item;list-style:decimal;}
input,textfield,select,textarea{border:1px solid #888;font-family:"Arimo",Arial,Helvetica,sans-serif;}
input[type=checkbox],input[type=radio]{border:0 none;vertical-align:middle;}
a{color:#0e76bc;}
a:hover{color:#555;text-decoration:underline;}
.clr{clear:both;display:block;line-height:0;font-size:0;}
.sprt,.beaconmenu ul li a,.ico_platform li span{background-image:url(../images/sprt_1.03.png);background-repeat:no-repeat;}

.beaconbodyinner{width:950px;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:#fff;padding:15px;margin:0 auto;}

/* List */
.appthumblist li{float:left;width:33%;padding-bottom:70px;padding-top:10px;}
.appicon{float:left;margin-right:10px;width:100px;height:100px;}
.appicon img{width:100px;height:100px;}
.apptext{margin:8px 0 0 110px;}
.apptext .appname{text-transform:uppercase;font-weight:bold;color:#333;font-size:15px;text-decoration:none;overflow:hidden;text-overflow:ellipsis;}
.apptext .appname:hover{color:#0e76bc;}
.topappname .apptext .appname:hover{color:#333;}
.apptext .appdesc{color:#888;padding:4px 0; height: 24px;}
.apptext .viewdetail_btn{display:block;background-position:-16px -256px;width:75px;height:24px;text-indent:-9999em;}
.apptext .viewdetail_btn:hover{background-position:-96px -256px;}

.apptext .appdesc .plfm_icn{display:inline-block;float:none;margin-right:7px;vertical-align:-3px;margin-top:0;width:16px;height:22px;}
.apptext .appdesc .plfm_icn.ios_ico{background-position:-272px -174px; width:19px;}
.apptext .appdesc .plfm_icn.android_ico{background-position:-304px -174px;width:19px;}
.apptext .appdesc .plfm_icn.bb_ico{vertical-align:-6px;background-position:-336px -174px; width:23px;vertical-align:-6px;}
.apptext .appdesc .plfm_icn.windows8_ico{background-position:-368px -174px;width:20px;}

/*Detail*/
.guidepage{padding-bottom:15px;height:18px;}
.guidepage a,.guidepage span{margin-right:8px;float:left;text-decoration:none;font-size:15px;vertical-align:bottom;}
.guidepage a{color:#999;}
.guidepage span{color:#666;font-weight:bold;}
.guidepage .arrow{margin-right:8px;background-position:0 -128px;width:5px;height:9px;float:left;margin-top:5px;}
.free_txt,.free_txt:hover{color:#e74c3c;text-transform:uppercase;font-size:16px;font-weight:bold;text-decoration:none;}
.appdetail_maincont{border-top:1px solid #e5e5e5;}
	.appinfo{padding-bottom:15px;}
	.h3text{height:18px;border-top:1px dotted #e5e5e5;margin-top:15px;margin-bottom:2px;}
	.h3text span{color:#e74c3c;text-transform:uppercase;font-size:16px;float:left;background-color:#fff;padding-right:5px;margin-top:-12px;}
	.dloadplatform{overflow:hidden;border-bottom:1px dashed #ccc;margin-bottom:30px;}
	.dloadplatform li{float:left;width:50%;text-align:center;height:200px;padding-bottom:40px;}
	.dloadplatform .plfrm_name{font-weight:bold;color:#333;font-size:15px;/*padding-bottom:8px;*/}
	/*.dloadplatform .code{padding-bottom:25px;}*/
	.dlios_btn,.dlgplay_btn,.dlblbery_btn{background-position:-16px -128px;width:106px;height:41px;display:block;text-indent:-9999em;margin:0 auto}
	.dlgplay_btn{background-position:-128px -128px;}
	.dlblbery_btn{background-position:-16px -176px;}
.beaconrightcol{float:left;margin-left:-1px;width:634px;padding:15px;border-left:1px solid #E5E5E5;}
	.support_platform{height:20px;padding-bottom:10px;margin-bottom:15px;border-bottom:1px dashed #e5e5e5;}
	.support_platform .sntwshare{float:right;}
	.support_platform .sntwshare_label{text-transform:uppercase;color:#999;font-size:13px;padding-top:2px;}
	.support_platform strong.label{float:left;margin-right:10px;margin-top:3px;}
	.ios_ico,.android_ico,.bb_ico,.windows8_icn{float:left;margin-right:20px;height:21px;width:18px;}
	.android_ico{background-position:-96px -224px;}
	.ios_ico{background-position:-144px -224px;}
	.bb_ico{background-position:-192px -224px;width:23px;height:16px;margin-top:4px;}
	.windows8_icn{background-position:-119px -224px;width:19px;height:17px;}
	.detailcont{font-size:13px;line-height:20px;word-wrap: break-word;}
	.detailcont p{padding:0 0 15px;}
	.detailcont p.installnotice{padding-top:30px;}
	.faceout_cont{padding:15px;background-color:#e6eff3;border:1px solid #d7e1e6;margin:15px -16px 15px 0;}
	.detailcont .headertxt{font-weight:bold;padding-bottom:5px;color:#d25908;font-size:15px;}
	.versionlist .buldot{width:2px;height:2px;background-color:#2479b2;margin-right:10px;display:inline-block;vertical-align:middle;}
	.versionlist li a{text-decoration:none;font-style:italic;}
	
	/*recent users*/
	.recent_users{padding:20px 15px 0;text-align:right;margin-left:400px;}
	.ru_boxtitle{font-size:12px;text-transform:uppercase;color:#616161;padding-bottom:5px;font-weight:bold;}
	.ru_list{height:35px;}
	.ru_list li{display:inline;float:right;margin-left:7px;width:35px;height:35px;position:relative;}
	.ru_list li img{vertical-align:bottom;border-radius:100%;width:35px;height:35px;border:1px solid #ccc;}
	.ru_list li a .runametip{display:none;position:absolute;margin-top:2px;background-color:#000;padding:5px 8px;color:#ccc;font-size:11px;line-height:normal;border-radius:40px;right:-37px;text-align:center;}
	.ru_list li a .runametip span{width:100px;overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;}
	.ru_list li a:hover .runametip{display:block;}

/* Chia se tren nhieu mxh khac */
.sntwshare{min-width:150px;}
.sntwshare .sntwshare_label{float:left;margin-right:5px;}
.sntwshare a,.sntwshare .ntwsh_others{width:20px;height:20px;display:inline-block;margin:0 1px;vertical-align:bottom;background-image:url(../images/socialicons.png);}
.sntwshare .ntwsh_zingme{background-position:0 0;}
.sntwshare .ntwsh_facebook{background-position:-28px 0;}
.sntwshare .ntwsh_linkhay{background-position:-57px 0;}
.sntwshare .ntwsh_google{background-position:-28px -32px;}
.sntwshare .ntwsh_twitter{background-position:-113px 0;}
.sntwshare .ntwsh_digg{background-position:-142px 0;}
.sntwshare .ntwsh_linkedin{background-position:-171px 0;}
.sntwshare .ntwsh_others{background-position:0 -32px;cursor:pointer;}
.sntwshare .ntwsh_list{min-width:225px;margin-left:-12px;margin-top:27px;display:none;}
.sntwshare .ntwsh_others:hover .ntwsh_list{display:block;}
.sntwshare .ntwsh_list .htext{margin:0 0 5px 1px;}

/*Gop Y*/
.advform{padding: 40px 0 40px 90px;}
.advform .frow{padding-bottom:10px;height:30px;}
.advform .frow .flb{float:left;margin-right:25px;width:200px;text-align:right;font-size:15px;color:#666;padding-top:3px;}
.advform .textinput{padding:5px;font-size:13px;color:#666;border:1px solid #e5e5e5;width:350px;}
.fbtns{height:24px;clear:both;padding-left:225px;}
/*.fbtns .submitbtn{display:block;float:left;margin-right:5px;background-position:-176px -256px;width:35px;height:24px;text-indent:-9999em;}*/
.fbtns .submitbtn{display:block;float:left;margin-right:5px;background-position:-352px -256px;width:45px;height:24px;text-indent:-9999em;}
.fbtns .submitbtn:hover{background-position:-400px -256px;}

/*404 page & Coming soon*/
.pic404{background:url(../images/404pic.jpg) no-repeat;width:504px;height:360px;margin:0 auto;}
.backto_prevpage{display:block;background-position:-16px -288px;width:125px;height:24px;text-indent:-9999em;margin:0 auto 10px;}
.backto_prevpage:hover{background-position:-144px -288px;}
.link404{padding-bottom:40px;text-align:center;margin-top:-20px;}
.link404 a{color:#3598dc;text-decoration:none;}
.link404 a:hover{color:#267ab6;text-decoration:underline;}
.pic_cmsoon{background:url(../images/comingsoon_0.1.jpg) no-repeat;width:525px;height:409px;margin:20px auto 40px;}
.linkcmsoon{margin-left:-90px;}

/*Event*/
.beaconevent{margin-top:-15px;}
.eventcontent{float:left;width:619px;padding:15px 15px 15px 0;border-right:1px solid #e5e5e5;}
	.appthumbnail{float:left;width:148px;height:148px;margin-right:10px;margin-top:8px;}
	.apptopinfo{padding-bottom:20px;border-bottom:1px solid #e5e5e5;}
		.apptopinfotxt{margin-left:168px;}
		.apptopinfotxt .appinforow{padding:8px 0;border-top:1px solid #e5e5e5;overflow:hidden;width:100%;}
		.apptopinfotxt .appinforow:first-child{border-top:0;}
			.beaconeventname,.beaconeventname:hover{font-weight:bold;text-decoration:none;font-size:18px;color:#2479b2;}
			.beaconeventname .evnewico{background-position:-272px -128px;width:29px;height:29px;display:inline-block;margin-left:5px;margin-top:-13px;}
			.ico_platform{display:inline;margin-left:5px;vertical-align:-4px;}
			.ico_platform li{display:inline;margin-right:15px;}
			.ico_platform li span{display:inline-block;width:18px;height:22px;}
			.ico_platform .iosico{background-position:-272px -174px;}
			.ico_platform .adrico{background-position:-304px -174px;}
			.ico_platform .bbico{background-position:-336px -174px;width:23px;}
			.ico_platform .wd8ico{background-position:-368px -174px;width:20px;}
		.appinforow .sntwshare{float:right;}
		.appinforow .evnewico {width:20px;height:11px;background-position:-304px -128px;display:inline-block;margin-left:3px;}
		.appinforow .fblikewidge{float:left;width:120px;}
		.joineventbtn{float:right;width:82px;height:29px;background-position:-176px -256px;margin-top:-8px;}
		.joineventbtn:hover{background-position:-262px -256px;}
		.event_detailcontent{padding-top:20px;padding-bottom:15px;}
		.event_detailcontent p{padding-bottom:15px;}
.eventcontent .dloadplatform li{width:30%;}
.eventcolcontent{float:right;width:315px;border-left:1px solid #e5e5e5;margin-left:-1px;}
	.otherevents{margin-right:-15px;}
	.otherevents h3{border-bottom:1px solid #e5e5e5;font-weight:bold;color:#333;text-transform:uppercase;font-size:16px;padding:15px;}
	.otherevents li{padding:15px;border-bottom:1px solid #e5e5e5;overflow:hidden;}
	.otherevents .oteventthumb{float:left;width:60px;height:60px;}
		.oteventdesc{margin-left:75px;}
		.oteventdesc .otevname{text-decoration:none;}
		.oteventdesc .evdesctxt{display:block;margin-bottom:2px;}
		.oteventdesc .clockico{width:16px;height:16px;display:inline-block;margin-right:5px;background-position:-240px -160px;vertical-align:-3px;}
		.oteventdesc .otevnewico{width:20px;height:11px;background-position:-304px -128px;display:inline-block;margin-left:3px;}
	.otherevents .oteventthumb img {width: 60px; height: 60px;}

/*Additional style by developer*/
.demo span {margin: 0 15px 0 5px;}
.demo img{height:400px;}

.center{text-align:center;}