<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>iBeacons</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        
        
        <div class="ng-scope">
            <div >
                <table st-table="beacons" st-safe-src="beaconList" class="table table-striped table-condensed">
                    <thead>
                       <tr><th colspan="5"><a ng-click="createBeacon()" class="btn btn-small btn-primary" title="Create">Create iBeacon <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>
                        <tr>
                            <th st-sort="id" style="min-width: 20px;">ID</th>
                            <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                            <th st-sort="description" style="min-width: 20px;">Description</th>
                            <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                            <th st-sort="major" style="min-width: 20px;">Major</th>
                            <th st-sort="minor" style="min-width: 20px;">Minor</th>


                            <th st-sort="lat" style="min-width: 10px;">Lat</th>
                            <th st-sort="lng" style="min-width: 10px;">lng</th>
                            <th st-sort="enable" style="min-width: 10px;">Enable</th>

                            <th style="width:200px;"> </th>
                            <th style="width:20px;"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beacon in beacons">
                            <td>{{ beacon.beaconId}}</td>
                            <td><a  ng-href= "" class="appname" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>
                            <td>{{ beacon.description}}</td>
                            <td>{{ beacon.uuid}}</td>
                            <td>{{ beacon.bMajor}}</td>
                            <td>{{ beacon.bMinor}} </td>
                            <td>{{ beacon.lat}}</td>
                            <td>{{ beacon.lng}}</td>
                            <td>{{ beacon.enable}}</td>
                            <td ><a  ng-click="showAdsPopup(beacon.beaconId)" class="btn btn-small btn-primary" title="Danh sách quảng cáo" ng-href= "">Quảng cáo</a></td>
                            <td><a ng-click="removeBeacon(beacon.beaconId)" class="btn btn-small btn-primary" title="Xóa">Xoá</a></td>
                        </tr>
                    </tbody>
                </table>
                <pagination ng-model="currentPage" 
                            total-items="totalItems" items-per-page="itemPerPage" 
                            ng-change="pageChanged()"></pagination>
            </div>

            
            <div class="clr">

                    </div>
        </div>
    </body>
</html>
